@tailwind base;
@tailwind components;
@tailwind utilities;

*,
:hover {
    scrollbar-color: unset;
}

.container {
    max-width: 590px;
    min-width: 320px;
}

@media (width <= 767px) {
    .container {
        max-width: 387px;
    }
}

@layer base {
    input[type='text']:focus,
    input[type='email'],
    input[type='password'] {
        @apply !shadow-none !ring-transparent;
    }

    [type='text'],
    input:where(:not([type])),
    [type='email'],
    [type='url'],
    [type='password'],
    [type='number'],
    [type='date'],
    [type='datetime-local'],
    [type='month'],
    [type='search'],
    [type='tel'],
    [type='time'],
    [type='week'],
    [multiple],
    textarea,
    select {
        @apply !pl-0;
    }

    tr {
        @apply !border-0;
    }
}

@layer components {
    .btn {
        @apply border-0;
    }

    .btn.btn-disabled,
    .btn[disabled],
    .btn:disabled {
        @apply bg-base-300;
    }

    .label-text {
        @apply font-bold;
    }

    .tooltip::before {
        @apply p-2 font-mono;
    }

    .tooltip-benefit {
        @apply tooltip tooltip-bottom tooltip-secondary cursor-pointer font-semibold underline decoration-dashed decoration-1 underline-offset-4 before:w-[14rem] before:font-light;
    }

    .tooltip-error::before {
        @apply text-neutral-200;
    }

    .underlined-link {
        @apply text-neutral-400 opacity-90 hover:!text-neutral-400 hover:underline hover:underline-offset-4;
    }
}
