@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
    max-width: 640px;
    min-width: 320px;
}

.btn {
    @apply border-0;
}

.fa-arrow-up-right-from-square {
    @apply text-neutral-500;
}

a.underlined-link {
    @apply text-sky-500 opacity-90 hover:underline hover:underline-offset-4;
}

@media (width <= 767px) {
    .container {
        max-width: 387px;
    }
}
