@import 'tailwindcss';

@plugin 'daisyui' {
    exclude: rootscrollgutter;
    themes: business --default;
}

@theme {
    --color-gold: #d4af37;
    --color-silver: #c0c0c0;
    --color-bronze: #cd7f32;
    --color-supporter: #026bbe;
    --color-highlight: var(--color-neutral-800);
}

:root {
    --color-primary: #0084ff;
    --color-secondary: #d4d4d4;
    --color-error: #ef4444;
    --color-success: var(--color-green-600);

    --font-sans:
        Figtree, ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
        'Segoe UI Emoji', Segoe UI Symbol, 'Noto Color Emoji';
}

*,
:hover {
    scrollbar-color: unset;
}

.container {
    max-width: 615px;
    min-width: 320px;

    @media (width <= 767px) {
        max-width: 387px;
    }
}

@layer base {
    input[readonly] {
        @apply cursor-not-allowed text-neutral-500;
    }

    textarea {
        @apply !w-full;

        scrollbar-width: thin;
    }

    tr {
        @apply !border-b-0;
    }
}

@layer utilities {
    .alert {
        @apply border-neutral-600 bg-neutral-700 !text-neutral-300;
    }

    .alert-info {
        @apply border-sky-800 bg-sky-900;
    }

    .alert-success {
        @apply border-green-700 bg-green-800;
    }

    .alert-warning {
        @apply border-yellow-700 bg-yellow-800;
    }

    .alert-error {
        @apply border-red-800 bg-red-900;
    }

    .btn {
        @apply !rounded-lg p-3.5 py-6;

        &[disabled],
        &:disabled {
            @apply !bg-base-100 border-base-100 text-neutral-600;
        }
    }

    .checkbox:checked {
        @apply bg-base-100;
    }

    .btn-success {
        @apply bg-green-800 text-xs text-neutral-200 hover:bg-green-900;
    }

    .btn-sm {
        @apply px-3 py-4 text-sm;
    }

    .badge {
        @apply !rounded-lg;
    }

    .menu {
        --menu-active-bg: var(--color-neutral-800);
        @apply leading-6;
    }

    .menu a,
    .menu button {
        @apply rounded-lg shadow-[unset];
    }

    .label {
        @apply py-2 text-sm whitespace-normal text-neutral-300;
    }

    .tooltip::before {
        @apply font-mono;
    }

    .text-error {
        @apply focus-visible:!text-error active:!text-error;
    }

    .tooltip {
        & > :where(.tooltip-content),
        &[data-tip]::before {
            @apply py-2 leading-[1.5];
        }
    }

    .tooltip-benefit {
        @apply tooltip tooltip-bottom tooltip-secondary;
    }

    .underlined-link {
        @apply text-neutral-400 opacity-90 hover:!text-neutral-400 hover:underline hover:underline-offset-4;
    }

    .underlined-rich {
        @apply cursor-pointer font-semibold underline decoration-dashed underline-offset-4 before:font-light;
    }

    .select {
        @apply cursor-pointer;
    }

    .input,
    .select {
        @apply w-full rounded-md;

        &:focus,
        &:focus-within {
            --input-color: color-mix(
                in oklab,
                var(--color-base-content) 20%,
                #0000
            );
            outline: none;
        }
    }

    .tabs-box {
        @apply !p-2;

        & .tab {
            border-radius: var(--radius-lg);
        }
    }

    .table {
        @apply border-collapse;

        & :where(thead tr :is(td, th), tbody tr:not(:last-child) :is(td, th)) {
            @apply border-b-0;
        }

        & :where(thead, tfoot) {
            font-size: var(--text-xs);
            line-height: var(--text-xs--line-height);
            font-weight: var(--font-weight-bold);
        }
    }
}
